In [1]:
import pandas as pd
import seaborn as sns

In [2]:
dfs = [
    pd.read_csv(file_path)
    for file_path in [
        "atp_matches_2014.csv",
        "atp_matches_2015.csv",
        "atp_matches_2016.csv",
        "atp_matches_2017.csv",
        "atp_matches_2018.csv",
        "atp_matches_2019.csv",
        "atp_matches_2020.csv",
        "atp_matches_2021.csv",
        "atp_matches_2022.csv",
        "atp_matches_2023.csv",
    ]
]
merged_df = pd.concat(dfs, ignore_index=True)

In [3]:
merged_df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2014-339,Brisbane,Hard,28,A,20131229,1,103813,NaN,NaN,...,29.0,23.0,6.0,8.0,2.0,5.0,39.0,1090.0,136.0,425.0
1,2014-339,Brisbane,Hard,28,A,20131229,2,104594,NaN,NaN,...,76.0,51.0,18.0,17.0,7.0,11.0,61.0,774.0,35.0,1160.0
2,2014-339,Brisbane,Hard,28,A,20131229,3,105023,NaN,NaN,...,40.0,26.0,12.0,11.0,6.0,9.0,46.0,960.0,29.0,1244.0
3,2014-339,Brisbane,Hard,28,A,20131229,4,105032,NaN,WC,...,59.0,43.0,15.0,12.0,4.0,4.0,172.0,307.0,100.0,549.0
4,2014-339,Brisbane,Hard,28,A,20131229,5,103917,NaN,NaN,...,50.0,43.0,12.0,14.0,2.0,4.0,50.0,918.0,70.0,697.0

In [4]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27467 entries, 0 to 27466
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          27467 non-null  object
 1   tourney_name        27467 non-null  object
 2   surface             27410 non-null  object
 3   draw_size           27467 non-null  int64
 4   tourney_level       27467 non-null  object
 5   tourney_date        27467 non-null  int64
 6   match_num           27467 non-null  int64
 7   winner_id           27467 non-null  int64
 8   winner_seed         11682 non-null  float64
 9   winner_entry        3827 non-null   object
 10  winner_name         27467 non-null  object
 11  winner_hand         27458 non-null  object
 12  winner_ht           26972 non-null  float64
 13  winner_ioc          27467 non-null  object
 14  winner_age          27462 non-null  float64
 15  loser_id            27467 non-null  int64
 16  loser_seed          6715 non-null   float64
 17  loser_entry         6052 non-null   object
 18  loser_name          27467 non-null  object
 19  loser_hand          27426 non-null  object
 20  loser_ht            26441 non-null  float64
 21  loser_ioc           27467 non-null  object
 22  loser_age           27455 non-null  float64
 23  score               27465 non-null  object
 24  best_of             27467 non-null  int64
 25  round               27467 non-null  object
 26  minutes             24542 non-null  float64
 27  w_ace               26062 non-null  float64
 28  w_df                26062 non-null  float64
 29  w_svpt              26062 non-null  float64
 30  w_1stIn             26062 non-null  float64
 31  w_1stWon            26062 non-null  float64
 32  w_2ndWon            26062 non-null  float64
 33  w_SvGms             26063 non-null  float64
 34  w_bpSaved           26062 non-null  float64
 35  w_bpFaced           26062 non-null  float64
 36  l_ace               26062 non-null  float64
 37  l_df                26062 non-null  float64
 38  l_svpt              26062 non-null  float64
 39  l_1stIn             26062 non-null  float64
 40  l_1stWon            26062 non-null  float64
 41  l_2ndWon            26062 non-null  float64
 42  l_SvGms             26063 non-null  float64
 43  l_bpSaved           26062 non-null  float64
 44  l_bpFaced           26062 non-null  float64
 45  winner_rank         27315 non-null  float64
 46  winner_rank_points  27315 non-null  float64
 47  loser_rank          27098 non-null  float64
 48  loser_rank_points   27098 non-null  float64
dtypes: float64(29), int64(6), object(14)
memory usage: 10.3+ MB

In [5]:
merged_df["surface"].unique()

array(['Hard', 'Clay', 'Carpet', 'Grass', nan], dtype=object)

In [6]:
merged_df.to_csv("atp_singles_matches_2014_2023.csv")

"tourney_date",  
 "surface",
 "draw_size",  
 "tourney_level", 
 "match_num",  
 "winner_id",  
 "winner_name", 
 "winner_hand", 
 "winner_ht",
 "winner_ioc", 
 "winner_age",
 "loser_id",
 "loser_name", 
 "loser_hand", 
 "loser_ht",
 "loser_ioc", 
 "loser_age",
 "best_of",  
 "round", 
 "w_ace",
 "w_df",
 "w_svpt",
 "w_SvGms",
 "w_bpSaved",
 "w_bpFaced",
 "l_ace",
 "l_df",
 "l_SvGms",
 "l_bpSaved",
 "l_bpFaced",
 "winner_rank",
 "loser_rank",

 * Many of the columns in the 'matches' files are self-explanatory, or are very similar to previous columns.

tourney_id
- a unique identifier for each tournament, such as 2020-888. The exact formats are borrowed from several different sources, so while the first four characters are always the year, the rest of the ID doesn't follow a predictable structure.

tourney_name
surface
draw_size
- number of players in the draw, often rounded up to the nearest power of 2. (For instance, a tournament with 28 players may be shown as 32.)

tourney_level
- For men: 'G' = Grand Slams, 'M' = Masters 1000s, 'A' = other tour-level events, 'C' = Challengers, 'S' = Satellites/ITFs, 'F' = Tour finals and other season-ending events, and 'D' = Davis Cup 
- For women, there are several additional tourney_level codes, including 'P' = Premier, 'PM' = Premier Mandatory, and 'I' = International. The various levels of ITFs are given by the prize money (in thousands), such as '15' = ITF $15,000. Other codes, such as 'T1' for Tier I (and so on) are used for older WTA tournament designations. 'D' is used for Federation/Fed/Billie Jean King Cup, and also for Wightman Cup and Bonne Bell Cup.

- Others, eventually for both genders: 'E' = exhibition (events not sanctioned by the tour, though the definitions can be ambiguous), 'J' = juniors, and 'T' = team tennis, which does yet appear anywhere in the dataset but will at some point.

tourney_date
- eight digits, YYYYMMDD, usually the Monday of the tournament week.

match_num
- a match-specific identifier. Often starting from 1, sometimes counting down from 300, and sometimes arbitrary. 

winner_id
- the player_id used in this repo for the winner of the match

winner_seed
winner_entry
- 'WC' = wild card, 'Q' = qualifier, 'LL' = lucky loser, 'PR' = protected ranking, 'ITF' = ITF entry, and there are a few others that are occasionally used.

winner_name
winner_hand
- R = right, L = left, U = unknown. For ambidextrous players, this is their serving hand.
winner_ht
- height in centimeters, where available

winner_ioc
- three-character country code

winner_age
- age, in years, as of the tourney_date

loser_id
loser_seed
loser_entry
loser_name
loser_hand
loser_ht
loser_ioc
loser_age
score
best_of
- '3' or '5', indicating the the number of sets for this match

round
minutes
- match length, where available

w_ace
- winner's number of aces
w_df
- winner's number of doubles faults
w_svpt
- winner's number of serve points
w_1stIn
- winner's number of first serves made
w_1stWon
- winner's number of first-serve points won
w_2ndWon
- winner's number of second-serve points won
w_SvGms
- winner's number of serve games
w_bpSaved
- winner's number of break points saved
w_bpFaced
- winner's number of break points faced

l_ace
l_df
l_svpt
l_1stIn
l_1stWon
l_2ndWon
l_SvGms
l_bpSaved
l_bpFaced

winner_rank
- winner's ATP or WTA rank, as of the tourney_date, or the most recent ranking date before the tourney_date
winner_rank_points
- number of ranking points, where available
loser_rank
loser_rank_points

In [7]:
surface_grouped = (
    merged_df.groupby("surface")
    .apply(
        lambda df: pd.Series(
            {
                "Winner More Aces": (df["w_ace"] > df["l_ace"]).sum(),
                "Equal Aces": (df["w_ace"] == df["l_ace"]).sum(),
                "Winner Fewer Aces": (df["w_ace"] < df["l_ace"]).sum(),
            }
        )
    )
    .reset_index()
)
surfaces = surface_grouped["surface"]
winner_more_aces = surface_grouped["Winner More Aces"]
equal_aces = surface_grouped["Equal Aces"]
winner_fewer_aces = surface_grouped["Winner Fewer Aces"]

In [8]:
surface_grouped["Total Matches"] = (
    surface_grouped["Winner More Aces"]
    + surface_grouped["Equal Aces"]
    + surface_grouped["Winner Fewer Aces"]
)
surface_grouped["% of Matches Where Winner Scored More Aces"] = (
    surface_grouped["Winner More Aces"] / surface_grouped["Total Matches"]
)
surface_grouped["% of Matches have Equal Aces"] = (
    surface_grouped["Equal Aces"] / surface_grouped["Total Matches"]
)
surface_grouped["% of Matches Where Winner Scored fewer Aces"] = (
    surface_grouped["Winner Fewer Aces"] / surface_grouped["Total Matches"]
)
winner_more_aces_pct = surface_grouped["% of Matches Where Winner Scored More Aces"]
equal_aces_pct = surface_grouped["% of Matches have Equal Aces"]
winner_fewer_aces_pct = surface_grouped["% of Matches Where Winner Scored fewer Aces"]

In [9]:
surface_grouped[["surface",
"% of Matches Where Winner Scored More Aces",
"% of Matches have Equal Aces",
"% of Matches Where Winner Scored fewer Aces"
 ]].round(2).to_csv("surface_aces_matches.csv")

In [10]:
merged_df["tourney_year"] = merged_df.tourney_date.astype(str).str[:4]

In [11]:
merged_df["tourney_year"].unique()

array(['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '2023'], dtype=object)

In [12]:
tennis_df_win = merged_df[
    merged_df["tourney_level"].isin(["G"]) & (merged_df["round"] == "F")
].dropna(subset=["winner_age"])
dfw = tennis_df_win[["tourney_year", "tourney_name", "winner_name", "winner_age"]]
dfw.columns = ["tourney_year", "tourney_name", "player", "age"]

dfs_final = (
    dfw.groupby(["tourney_year", "tourney_name"]).agg({"age": "mean"}).reset_index()
)
dfs_final_2 = dfs_final.groupby(["tourney_year"]).agg({"age": "mean"}).reset_index()

In [13]:
dfs_final.to_csv("final_winner_age.csv", index=False)

In [14]:
bin_edges = [0, 3, 6, 10, float("inf")] 
bin_labels = ["0-2", "3-5", "6-9", "10+"]

winners_binned = pd.cut(
    merged_df["w_df"],
    bins=bin_edges,
    labels=bin_labels,
    right=False,
    include_lowest=True,
)
losers_binned = pd.cut(
    merged_df["l_df"],
    bins=bin_edges,
    labels=bin_labels,
    right=False,
    include_lowest=True,
)

winners_percentage = (
    winners_binned.value_counts(normalize=True).reindex(bin_labels, fill_value=0)
)
losers_percentage = (
    losers_binned.value_counts(normalize=True).reindex(bin_labels, fill_value=0)
)

distribution_df = pd.DataFrame(
    {"Bin": bin_labels, "Winners %": winners_percentage, "Losers %": losers_percentage}
).reset_index(drop=True).round(2)

In [15]:
distribution_df.to_csv("distribution_data.csv.csv", index=False)